# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.parquet
*.pkl
data/raw/
data/processed/
!practice-playground/messy-data.csv

# Models
*.pt
*.pth
*.h5
*.bin
models/

# IDE
.vscode/
.idea/
.DS_Store

# Env
.env
.env.local
